body, thead {
  background-color: #243447;
}
.title, #employee-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee-view *, .container-employee-section, .btn-bottom {
  display: flex;
  justify-content: center;
}
.container {
  background: rgb(64,207,255);
  background: linear-gradient(90deg, rgba(64,207,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 40%, rgba(246,245,95,1) 48%, rgba(246,245,95,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 75%, rgba(64,207,255,1) 100%);
  padding-left: 0px;
  padding-right: 0px;
}
.title, thead {
  color:white;
}
/*I hope that using !important here doesn't bother you.
  I've been told that using it is a bad practice,
  but the default margin-bottom from the table was bothering me xD*/
table {
  margin-bottom: 0rem !important;
  --bs-table-hover-bg: rgb(106 0 255 / 18%) !important;
}
tr {
  border-width: 1px !important;
}
.container {
  box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
}

td, th {
  text-align: center;
}
.table-bordered>:not(caption)>*>* {
  border-width: 0;
}
button {
  border-radius: 4px;
}
button:hover{
  background: rgb(64,207,255);
  background: linear-gradient(180deg, rgba(64,207,255,1) 15%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 31%, rgba(246,245,95,1) 46%, rgba(246,245,95,1) 52%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 78%, rgba(64,207,255,1) 84%);
  border: 2px solid white;
  border-radius: 8px;
}
img {
  color: white;
  border-radius: 20px;
  width: 150px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.employee-view {
  border: 4mm ridge white;
  box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 35px 17px rgba(0,0,0,1);
}
.employee-view *:not(img) {
  padding: 8px;
}
.employee-view h4 {
  color: #ffffff;
}
.employee-view h4:hover, th:hover, h1:hover, h2:hover {
  color: #efb810;
}
#bottom-page, #btn-clear {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 2px dashed #00ffff;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: rgba(255, 255, 255, 0);
  color: #00ffff;
}
#bottom-page:hover, #btn-clear:hover {
  border-style: solid;
  font-weight: bolder;
}